<template>
    <lightning-card title="CustomSearch">
    
     <lightning-layout multiple-rows="true" verticle-align = "end">
       <lightning-layout-item size="4" padding ="around-small">

        <lightning-input type="text" label="Enter the Item" value={key} onchange={updateKey}></lightning-input>
      
    </lightning-layout-item>

         
    <lightning-layout-item size="4" padding ="around-small">

        <lightning-button label="Search" onclick={handleSearch} variant="Brand"></lightning-button>
      
    </lightning-layout-item>

    

    <lightning-layout-item size="12" padding="around-small">
  
    <lightning-datatable key-field="id" hide-checkbox-column data={items} columns={cols}></lightning-datatable>
</lightning-layout-item>
       </lightning-layout>
   
    </lightning-card>
</template>